@(address: Form[Address])(implicit messages: Messages)

@import helper._

@main("Pokemon Detection") {

    @form(routes.PokeController.predict()) {
        @inputText(address("Street")) # 1111 S Figueroa St
        @inputText(address("City")) # Los_Angeles
        @inputText(address("State")) # CA
        @inputText(address("Zipcode"))# 90015
        @inputText(address("Country"))# USA
        @select(address("Select Algorithm"), Seq(
            "decisionTree" -> "Decision Tree",
            "logisticReg" -> "Logistic Regression",
            "NeuralNet" -> "Neural Network"))

        <div class="buttons">
            <input type="submit" value="Submit"/>
        </div>
    }
}
