@(address: Form[Address])(implicit messages: Messages)

@import helper._

@main("Pokemon Detection") {

    @form(routes.PokeController.predict()) {
        @inputText(address("Street"), 'placeholder -> "1111 S Figueroa St")
        @inputText(address("City"), 'placeholder -> "Los_Angeles")
        @inputText(address("State"), 'placeholder -> "CA")
        @inputText(address("Zipcode"), 'placeholder -> "90015")
        @inputText(address("Country"), 'placeholder -> "USA")
        <div class = 'selection-handle'>
        @select(address("Select Algorithm"), Seq(
            "decisionTree" -> "Decision Tree",
            "logisticReg" -> "Logistic Regression",
            "NeuralNet" -> "Neural Network"))
        </div>

        <div class = 'btn-large'>
            <input type="submit" value="Submit"/>
        </div>
    }
}
